/*Base css style for the page; design to fit in smaller screens (mobile)*/

/*Universal selector for initial values and fonts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Fonts pending*/
    font-family: 'Nunito Sans', 'Roboto';
}

/*Global CSS variables for color scheme, borders and recurrent style rules*/
:root {
    --color-scheme-logo: rgb(218, 165, 32);
    --color-scheme-darker-logo: rgb(184, 134, 11);
    --color-scheme-secondary: rgb(135, 66, 22);
    --color-scheme-secondary-darker: rgb(44, 28, 8);
    --color-scheme-contrast: rgb(212, 167, 189);
    --text-color-dark-bkg: white;
    --text-color-light-bkg: black;
    --basic-border: 1px solid rgba(219, 211, 211);
}

/*Styling header*/
header {
    display: grid;
    grid-template-columns: 24px auto auto 44px;
    grid-template-rows: auto auto;
    column-gap: 1rem;
    padding: 5px 0 5px 10px;
    background-color: var(--color-scheme-secondary-darker);
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

header span {
    font-size: 1.2rem;
    color: var(--color-scheme-logo);
}

/*Styling ham menu button*/
.hamburger {
    background: none;
    border: none;
    color: var(--color-scheme-logo);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-column: 4 / 5;
}

.hamburger::after {
    content: "\2630";
    font-size: 2.39rem;
}

.hamburger.show::after {
    content: "\00D7";
}

/*Styling navigation bar*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
    margin: auto;
    grid-row: 2 / 3;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: var(--color-scheme-logo);
    border-bottom: var(--basic-border);
    padding: 0.8rem 0;
}

.navigation a:hover {
    background-color: var(--color-scheme-contrast);
    color: var(--color-scheme-secondary-darker);
}

.navigation ul li.current {
    background-color: var(--color-scheme-secondary);
}

.navigation li.current a {
    color: var(--text-color-dark-bkg);
}

.navigation li.current a:hover {
    color: var(--color-scheme-secondary-darker);
}

/*Styling member button displays*/
#nav-directory {
    display: block;
    border: none;
    width: 100%;
    column-gap: normal;
    margin: 5px 0;
}

#nav-directory ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10%;
}

#nav-directory ul li {
    text-align: center;
    background-color: var(--color-scheme-darker-logo);
    border-radius: 20px;
    border: var(--basic-border);
}

#nav-directory a {
    display: block;
    border: none;
    color: var(--text-color-dark-bkg);
    border-radius: 20px;
    padding: 13px;
}

#nav-directory a:hover {
    color: var(--color-scheme-secondary-darker);
}

/*Styling card display of members*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    padding: 5px;
}

.cards section {
    margin: auto;
    width: 200px;
    height: 95%;
    padding: 1rem;
    background-color: var(--color-scheme-contrast);
}

.cards section p {
    padding: 10px;
}

.cards section a {
    text-decoration: none;
    color: var(--color-scheme-secondary-darker);
    border-radius: 10px;
}

.cards section a:hover {
    background-color: var(--text-color-dark-bkg);
}

.cards section img {
    display: block;
    margin: 1rem 0;
    padding: 10px 0;
    max-width: 100%;
    height: auto;
    background-color: var(--text-color-dark-bkg);
    border-radius: 70px;
}

/*Styling list display of members*/
.display-list ul {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    margin: 5px;
    list-style-type: none;
    column-gap: 10px;
    border: var(--basic-border);
}

.display-list ul:nth-child(even) {
    background-color: var(--color-scheme-contrast);
}

.display-list li {
    text-align:left;
    padding: 4px 0;
}

/*Styling hero image in index*/
.hero img {
    width: 100%;
    height: auto;
}

/*Styling call to action link*/
.call-to-action {
    margin: 0 1.5rem;
    padding: 0.7rem;
    width: fit-content;
    position: sticky;
    bottom: 30px;
    text-decoration: none;
    color: var(--text-color-light-bkg);
    background-color: var(--color-scheme-logo);
    border: var(--basic-border);
    border-radius: 100px;
    font-weight: 600;
}

.call-to-action:hover {
    background-color: var(--color-scheme-contrast);
    font-weight: bolder;
}

/*Styling h1 and div padding and margin*/
h1, .div-home {
    margin: 0.2rem 0.8rem;
    padding: 0.5rem 0;
    /*background-color: var(--color-scheme-contrast);*/
}

h1 {
    margin-top: 1rem;
}

/*Styling home divs*/
.div-home h2 {
    background-color: var(--color-scheme-logo);
    display: block;
    height: max-content;
    padding: 1rem;
    text-align: center;
}

.div-home {
    background-color: var(--color-scheme-contrast);
}

.div-home h3, .div-home p {
    padding: 0 1rem;
}

.div-home h3 {
    padding-top: 1rem;
}

.div-home p {
    padding: 1rem;
}

.div-home p a {
    color: var(--color-scheme-secondary-darker);
    font-weight: bolder;
}

.div-home p a:hover {
    background-color: var(--text-color-dark-bkg);
}

#current-weather p, #weather-forecast p {
    text-align: center;
    font-weight: bolder;
}

#current-weather img {
    display: block;
    margin: auto;
}

/*Styling form, join page*/
form {
    margin: 1rem 2%;
}

form h2 {
    font-size: 1.2rem;
    color: var(--color-scheme-darker-logo);
    margin: 1.5rem 0 .2rem 0;
    border-bottom: var(--basic-border);
}

label {
    display: block;
    font-size: .8rem;
    color: var(--color-scheme-secondary-darker);
    padding-top: .2rem;
}

input[type=text],
input[type=tel],
input[type=date],
input[type=email],
textarea,
select {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid rgba(153, 153, 153);
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: rgba(85, 85, 85);
    font-size: 1rem;
    color: var(--color-scheme-secondary);
    width: 250px;
}

input:required,
select:required {
    border-left-color: rgba(215, 0, 0);
}

input:focus,
select:focus,
textarea:focus {
    border-left-color: rgb(0, 0, 0);
    outline: none;
}

input:required:valid,
select:required:valid {
    border-left-color: rgb(0, 128, 0);
}

input[type=submit] {
    border: none;
    text-align: center;
    background-color: var(--color-scheme-secondary);
    color: var(--text-color-dark-bkg);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
}

input[type=submit]:focus,
input[type=submit]:hover {
    background-color: var(--color-scheme-darker-logo);
    outline: 2px solid rgba(0, 0, 0);
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--color-scheme-secondary);
}

#subscriptionInfo {
    background-color: rgba(244, 241, 222);
    padding: 0 1rem;
    border: var(--basic-border);
    border-radius: 10px;
    margin: 1rem;
    max-width: 95%;
}

#subscriptionInfo p {
    padding: 0.7rem 0;
}

/*Styling join page*/
#membershipLvl h2 {
    color: var(--color-scheme-darker-logo);
    padding: 1rem;
}

/*Animation for the membership level cards*/
@keyframes slide {
    from {
            transform: translateY(100px);
            background-color: var(--color-scheme-darker-logo);
        }
    
        to {
            transform: translate(0);
        }
}

.lvlCards {
    margin: 0 1.5rem 1.5rem;
    padding: 1rem;
    text-align: center;
    font-weight: bolder;
    background-color: var(--color-scheme-logo);
    border: var(--basic-border);
    border-radius: 0 1rem;
    animation: slide 2s ease-out;
}

.modal-button {
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--color-scheme-secondary);
    border-radius: 1rem;
    border: var(--basic-border);
    color: var(--text-color-dark-bkg);
    width: fit-content;
    appearance: none;
}

.modal-button:hover {
    background-color: var(--color-scheme-contrast);
    color: var(--color-scheme-secondary-darker);
}

dialog {
    max-width: 75%;
    width: 900px;
    background-color: var(--color-scheme-contrast);
    border: var(--basic-border);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: auto;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
    position: absolute;
    right: 12px;
    top: 14px;
    background-color: var(--text-color-dark-bkg);
    border: var(--basic-border);
    padding: 0.75rem 0.826rem;
}

dialog p {
    text-align: center;
    font-weight: bolder;
    margin: 1rem;
}

dialog ul {
    list-style-type: none;
    text-align: center;
}

dialog li {
    padding: 0.3rem;
}

/*Styling discover cards and page*/
#localStorage {
    padding: 1rem;
    font-weight: bolder;
}

#discover div {
    display: grid;
    grid-template-areas: 
    "name"
    "photo"
    "description"
    "address"
    "button";
    margin: 1rem;
    padding: 1rem;
    background-color: var(--color-scheme-logo);
}

#discover div h2 {
    grid-area: name;
}

#discover div figure {
    grid-area: photo;
    text-align: center;
}

#discover div address {
    grid-area: address;
}

#discover div p {
    grid-area: description;
}

#discover div button {
    grid-area: button;
    width: fit-content;
    justify-self: center;
}

#discover div h2,
#discover div figure,
#discover div address,
#discover div p,
#discover div button {
    margin-bottom: 0.7rem;
    padding: 0.5rem;
}

/*Styling footer*/
footer {
    padding: 1rem 10px;
    text-align: center;
    background-color: var(--color-scheme-contrast);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    height: fit-content;
}

.social a {
    display: flex;
    width: 45.5px;
    height: 45.5px;
    border-radius: 10px;
    justify-content: center;
    border: var(--basic-border);
    background-color: white;
}

.social a:hover {
    background-color: var(--color-scheme-secondary-darker);
}

.social img {
    display: block;
    width: 70%;
    height: auto;
}

footer p,
footer .foot-title {
    text-align: left;
}

footer .foot-title {
    display: block;
    font-weight: bolder;
}

footer div {
    padding-bottom: 10px;
}

@media screen and (min-width: 414.4px) {
    header span {
        padding-bottom: 10px;
    }
}