/*Base css style for the page; design to fit in smaller screens (mobile)*/

/*Universal selector for initial values and fonts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Fonts pending*/
    font-family: 'Nunito Sans', 'Roboto';
}

/*Global CSS variables for color scheme, borders and recurrent style rules*/
:root {
    --main-color: rgba(2, 76, 170, 1);
    --main-color-alpha: rgba(2, 76, 170, 0.8);
    --second-color: rgba(236, 131, 5, 1);
    --second-color-alpha: rgba(236, 131, 5, 0.8);
    --contrast-color: rgba(219, 211, 211);
    --logo-color: rgba(9, 16, 87);
    --text-color-light-bkg: black;
    --text-color-dark-bkg: white;
    --basic-border: 1px solid rgba(219, 211, 211);
}

/*Styling header*/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 1rem;
    padding: 5px 0 5px 10px;
    background-color: var(--contrast-color);
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 3px;
}

header span {
    font-size: 1.2rem;
    color: var(--logo-color);
}

/*Styling ham menu button*/
.hamburger {
    background: none;
    border: none;
    color: var(--logo-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
}

/*Styling navigation bar*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
    margin: auto;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: var(--logo-color);
    border-bottom: var(--basic-border);
    padding: 0.8rem 10px;
}

.navigation a:hover {
    background-color: var(--main-color);
    color: var(--text-color-dark-bkg);
}

.navigation ul li.current {
    background-color: var(--second-color-alpha);
}

/*Styling main*/
main {
    padding: 5px 10px;
}

h1 {
    margin: 0;
    padding: 10px 0 5px 0;
}

h2 {
    background-color: var(--second-color);
    padding: 5px 0;
    text-align: center;
}

section {
    background-color: var(--main-color-alpha);
    margin: 0 0 1rem 0;
}

section p {
    padding: 1rem;
    color: var(--text-color-dark-bkg);
}

section img {
    display: block;
    margin: auto;
    padding: 10px 0;
}

/*Styling course cards section*/
#nav-courses {
    display: block;
    border: none;
    width: 100%;
    column-gap: normal;
    margin: 5px 0;
}

#nav-courses ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10%;
}

#nav-courses ul li {
    text-align: center;
    background-color: var(--logo-color);
    border-radius: 20px;
    border: var(--basic-border);
}

#nav-courses a {
    display: block;
    border: none;
    color: var(--text-color-dark-bkg);
    border-radius: 20px;
}

#credits {
    display: block;
    padding: 0.8rem;
    text-align: center;
    color: var(--text-color-dark-bkg);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    text-align: center;
    padding: 5px;
}

.cards p {
    background-color: var(--contrast-color);
    margin: 5px;
    border-radius: 20px;
    color: var(--logo-color);
}

/*Styling footer*/
footer {
    padding: 1rem 10px;
    background-color: var(--logo-color);
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10%;
}

.social a {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    justify-content: center;
    border: var(--basic-border);
}

.social a:hover {
    background-color: var(--main-color);
}

.social img {
    display: block;
    width: 70%;
    height: auto;
}

footer p {
    color: var(--second-color);
    padding-top: 1rem;
}