/*CSS for larger screens; rulesets within an @media query*/
@media screen and (min-width: 640px) {
    header, main, nav, footer {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    /*Hidding menu button*/
    .hamburger {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }

    /*Showing nav bar*/
    .navigation {
        display: block;
        border-bottom: var(--basic-border);
    }

    .navigation ul {
        flex-direction: row;
        justify-content: left;
    }

    .navigation a {
        border: none;
    }
}